<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ianhanniballake.recipebook"
    android:versionCode="14171000"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme" >
        <provider
            android:name="com.ianhanniballake.recipebook.provider.RecipeProvider"
            android:authorities="com.ianhanniballake.recipebook"
            android:exported="false" >
            <grant-uri-permission android:pathPattern=".*" />
        </provider>

        <activity
            android:name="com.ianhanniballake.recipebook.ui.RecipeListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ianhanniballake.recipebook.ui.RecipeDetailActivity"
            android:label="@string/title_recipe_detail"
            android:parentActivityName="com.ianhanniballake.recipebook.ui.RecipeListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.RecipeListActivity" />
        </activity>
        <activity
            android:name="com.ianhanniballake.recipebook.ui.RecipeEditActivity"
            android:label="@string/title_recipe_edit" >
        </activity>
    </application>

</manifest>